<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imaec.hilotto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".HiLottoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">
        <activity android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity android:name=".ui.lately.LatelyResultActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity android:name=".ui.store.StoreActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity android:name=".ui.view.activity.EditNumberActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <activity android:name=".ui.view.activity.WinHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
    </application>

</manifest>
